# name      - exclude file/dir "name" in project root
# **/name   - exclude file/dir "name" in project root or any subdir
# !name     - include previously excluded "name"
# a*b?c/d[0-9]e[^a-z\]]f\[g     - pattern
.circleci
.gitattributes
.github
.gitignore
.gobincache

bin
Dockerfile
docker-compose.yml
docs
README.md
#scripts
